<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title - CPP45-eCanteen</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="20x20" href="~/Content/images/CCP45-01.png">
    <!-- Pignose Calender -->
    <link href="~/Content/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <link href="~/Content/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="~/Home/Index">
                    <b class="logo-abbr"><img src="~/Content/images/CCP45-01.png" alt=""width="150" height="30"> </b>
                    <span class="logo-compact"><img src="~/Content/images/CCP45-01.png" alt=""></span>
                    <span class="brand-title">
                        <label style="font-size:36px;font-family:'Angsana New'; color:aliceblue">CPP45-eCanteen</label>
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div> 
                <div class="header-right">
                    <ul class="clearfix">                       
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <!--  <span class="activity active"></span> -->
                                <img src="~/Content/images/user/form-user.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="~/Home/Login"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li> 
                                        <li>
                                            <a href="~/Home/Login"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="~/Home/Login"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Main-Menu</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="~/Home/index">Home</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Module</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-shopping-cart menu-icon"></i> <span class="nav-text">รายการรับเข้า</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="#">รับของเข้า</a></li>
                            <li><a href="#">ตัดของออก</a></li> 
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-table menu-icon"></i><span class="nav-text">Stock</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="~/Stock/Products">รายการสต็อคทั้งหมด</a></li>
                            <li><a href="#">รายการสต็อค สาขา-</a></li>
                            <li><a href="#">รายการสต็อค สาขา-</a></li>
                            <li><a href="#">รายการสต็อค สาขา-</a></li>
                        </ul>
                    </li>
                    

                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">

                @RenderBody()
            </div>
            <!-- #/ container -->
        </div>
        <div class="container body">


        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://www.pdcable.com/en/home-2/">IT phelps dodge</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Content/plugins/common/common.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/settings.js"></script>
    <script src="~/Content/js/gleek.js"></script>
    <script src="~/Content/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/Content/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/Content/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/Content/plugins/d3v3/index.js"></script>
    <script src="~/Content/plugins/topojson/topojson.min.js"></script>
    <script src="~/Content/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/Content/plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Content/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Content/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>

    <script src="~/Content/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script src="~/Content/js/dashboard/dashboard-1.js"></script>

    <script src="~/Content/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/Content/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/Content/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/Content/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/Content/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="~/Content/js/plugins-init/form-pickers-init.js"></script>




    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>
</body>

</html>
